#rankDiv {
	border: 1px solid blue;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	width: 65%;
	height: auto;
	/* border: 1px solid blue; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

img {
	max-height: 200px;
	margin: 10px;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 50%; /* Full width (cover the whole page) */
	height: 65%; /* Full height (cover the whole page) */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	/* border: 1px solid blue; */
}

button {
	position: absolute;
	right: 50px;
	bottom: 50px;
	background: none;
	color: #2626ff;
	outline: none;
	border: 1px solid blue;
	margin-top: 15px;
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	transition: 0.25s all ease;
}

button:hover {
	cursor: pointer;
	transform: scale(1.5);
}
