body {
	background-color: #f2eae4;
	position: relative;
}
main {
	display: flex;
}
form {
	margin-left: 0px;
	padding-left: 15px;
}

article {
	margin-top: auto;
}

h1 {
	color: #315937;
	font-family: "Syne", sans-serif;
	font-weight: 800;
	padding-left: 0px;
}

p {
	font-family: "Syne", sans-serif;
	font-size: 16px;
	color: #315937;
	width: 450px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-top: auto;
	line-height: 24px;
}

b {
	color: red;
}

label,
legend {
	color: #315937;
	font-family: "Syne", sans-serif;
	font-size: 16px;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

input[type="text"] {
	background: transparent;
	border: none;
	border-bottom: 1px solid #315937;
	outline: none;
}

input,
select {
	font-family: "Syne", sans-serif;
	color: #6da671;
	font-size: 20px;
	font-weight: 100;
}

select {
	background-color: transparent;
	border: 1px solid #315937;
	outline: none;
}

input[type="submit"] {
	color: #315937;
	background-color: #6da671;
	font-weight: 900;
	margin-top: 15px;
	font-size: 16px;
}

fieldset {
	display: flex;
	align-items: center;
	border: none;
}
fieldset label {
	padding-right: 15px;
}

input[type="color"] {
	border: none;
	background-color: transparent;
	vertical-align: middle;
}

legend {
	margin-left: -15px;
}

label > img {
	height: 1em;
	vertical-align: middle;
}

#albumgen {
	width: 400px;
	height: 400px;
	background-size: contain;
	position: relative;
}

#output {
	display: flex;
	position: relative;
	margin-top: auto;
}

#atitle {
	text-align: right;
	font-family: "Syne", sans-serif;
	font-weight: 900;
	padding-right: 10px;
	margin-bottom: 0px;
}

#bandname {
	text-align: right;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	padding-right: 10px;
	margin-top: 0px;
}

#overlay {
	opacity: 0.35;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#incomplete {
	color: red;
	padding-top: 15px;
	padding-left: 0px;
}

img {
	height: 2em;
	visibility: hidden;
	padding-left: 10px;
}

@media screen and (max-width: 1307px) {
	main {
		justify-content: space-evenly;
	}
	img {
		visibility: hidden;
		display: none;
	}
	#output {
		flex-direction: column;
		justify-content: center;
		padding-top: 20px;
	}
	p {
		font-size: 14px;
		width: 400px;
		padding-left: 0px;
		padding-top: 10px;
		line-height: 20px;
	}
}

@media screen and (max-width: 860px) {
	#albumgen {
		width: 350px;
		height: 350px;
	}
	p {
		width: 350px;
	}
}

::selection {
	background: #e395e3;
}

footer {
	display: flex;
	margin-top: 5vh;
	font-family: "Syne", sans-serif;
	font-size: 12px;
	text-align: center;
	position: relative;
	bottom: 0;
}

footer a {
	width: 33%;
	text-decoration: none;
}
