* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	justify-content: center;
	margin: auto;
	background-color: #ebebeb;
	font-family: 'Darker Grotesque', sans-serif;
	overflow: hidden;
	transition: all 0.25s;
}

body.switch {
	transition: all 0.25s;
}

#container {
	position: relative;
	width: 100%;
	max-width: 1366px;
	/* make sure the columns don't get too small and text stays readable */
	min-width: 900px;
	margin: 1em auto;
	padding-top: 2em;
}

header {
	margin: 0 auto 2em auto;
	width: 80%;
}

#banner {
	position: relative;
	display: flex;
	width: 1100px;
	height: 250px;
	margin: auto;
	overflow: hidden;
	transition: all 0.5s;
}

#banner.switch {
	filter: grayscale(100);
	transition: all 0.5s;
}

main {
	display: flex;
	justify-content: space-between;
	margin: 1em auto;
	width: 80%;
}

main section {
	width: 20%;
	margin: 0 0.25em;
	padding: 1em;
	color: #707070;
}

a {
	text-decoration: none;
}

ol,
ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

section li {
	padding-left: 1.2em;
}

section a {
	line-height: 1.1em;
	display: inline-block;
	padding: 0.5em;
	color: #707070;
}

#final {
	width: 125px;
	padding-right: 0;
	margin-right: 0;
}

section a:hover {
	color: #f241c3;
}

section.switch a:hover {
	color: #bf6999;
}

button {
	position: absolute;
	top: 20px;
	right: 32px;
	padding: 12px;
	color: #707070;
	border: 1px solid transparent;
	background-color: transparent;
	transition: color ease 0.25s;
	transition: transform ease 0.25s;
}

button:hover {
	cursor: pointer;
	color: #f241c3;
	transform: translateY(-3px);
}

button.switch:hover {
	color: #bf6999;
}

/* -----Banner----- */

#titlez {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 100%;
}

h1,
h2 {
	font-size: 15px;
	color: #707070;
}

#banner {
	width: 100%;
	height: 250px;
	max-width: 1100px;
	display: flex;
	overflow: hidden;
	margin: auto;
}

#banner div {
	flex: 1;
	background-position: center;
	position: relative;
	transition: all 1s;
}

#banner div:hover {
	flex: 20;
	filter: unset;
	opacity: 100%;
	cursor: crosshair;
}

#pic1 {
	background-image: url(images/greenhouse/greenhouse_3.png);
}

#pic2 {
	background-image: url(images/pikito.png);
}

#pic3 {
	background-image: url(images/warehouse/warehouse_1.png);
}

#pic4 {
	background-image: url(images/mendocino/mendo_2.png);
}

#pic5 {
	background-image: url(images/greenhouse/greenhouse_5.png);
}

#pic6 {
	background-image: url(images/warehouse/warehouse_3.png);
}

#pic7 {
	background-image: url(images/mendocino/mendo_5.png);
}

#pic8 {
	background-image: url(images/greenhouse/greenhouse_2.png);
}

/* media query for non-fullscreen (vertical) */
@media only screen and (max-height: 740px) {
	button {
		right: 40px;
	}

	#container {
		margin-top: 0;
		padding-top: 0;
	}
}

footer {
	position: fixed;
	bottom: 5px;
	left: 1px;
	display: flex;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 12px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

footer a {
	padding: 0px 15px 0px 15px;
	text-decoration: none;
}
