/* MAIN PAGE STYLING (BODY, DIV, IMG, FOOTER) */
body {
	background-color: #d8d3cd;
}
h1 {
	text-align: right;
	font-family: 'general_sanslight', sans-serif;
	font-size: 100px;
	padding: 0;
	padding-right: 15px;
	margin: 0;
	/* display: inline-block; */
}
