/* MAIN PAGE STYLING (BODY, DIV, IMG, FOOTER) */
body {
	background-color: #d8d3cd;
	overflow-x: hidden;
}

nav {
	/* border: 1px solid red; */
}
main {
	position: relative;
	overflow-y: hidden;
}

#imgslide {
	display: flex;
	overflow-x: scroll;
	opacity: 100%;
	transition: all 1s ease;
}

::-webkit-scrollbar {
	display: none;
}

h1 {
	text-align: right;
	font-family: 'general_sanslight', sans-serif;
	font-size: 100px;
	padding: 0;
	padding-right: 15px;
	margin: 0;
	/* border: 1px solid green; */
}

#instruction,
#info {
	font-family: 'general_sanslight', sans-serif;
	font-size: 12px;
	padding: 0px 15px 0px 15px;
	/* border: 1px solid blue; */
}

button {
	font-family: 'general_sanslight', sans-serif;
	font-size: 13px;
	border: none;
	background-color: transparent;
	outline: none;
	border: 1px solid black;
	border-radius: 45px;
	width: 75px;
	height: 20px;
	transition: all 0.25s ease;
}

button:hover {
	background-color: #f241c3;
	color: #d8d3cd;
	cursor: pointer;
}

#cam {
	font-family: 'GeneralSans-LightItalic', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'general_sanslight', sans-serif;
	font-size: 20px;
}

li {
	padding: 0px 15px 0px 15px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #f241c3;
	cursor: pointer;
}

.pointer {
	transform: rotate(45deg);
	font-size: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
	/* border: 1px solid violet; */
}
.plabel {
	font-size: 20px;
}
img {
	height: 600px;
	padding: 0px 5px 0px 0px;
	transition: all 0.5s ease;
}

footer {
	padding-top: 5px;
	font-size: 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.25s ease;
}

footer:hover {
	color: #f241c3;
	cursor: pointer;
}

#up {
	display: none;
}

#up:hover {
	transform: translateY(-3px);
}

#down:hover {
	transform: translateY(3px);
}

#mosaic {
	position: absolute;
	transform: translateY(100%);
	display: flex;
	transition: all 1s ease;
	align-items: center;
	justify-content: space-around;
	height: 620px;
	width: 100%;
	/* border: 1px solid red; */
}

#mosaicimg {
	display: flex;
	flex-wrap: wrap;
	width: 650px;
}

.mchild {
	height: 25vh;
	flex-grow: 1;
}

.mchild:last-child {
	flex-grow: 10;
}

.mchild img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}

#collection {
	flex-direction: column;
	align-items: flex-start;
	font-size: 50px;
	margin: 0;
	justify-content: center;
}

#collection li {
	padding: 15px;
}

#collection li:first-child {
	padding-top: 0px;
}

#collection li:last-child {
	padding-bottom: 0;
}

/* "COLLECTIONS" HOME PAGE */

#home-main {
	height: 600px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#home_preview {
	width: 500px;
	height: 500px;
	border: 1px solid black;
	border-radius: 50%;
	position: relative;
}

#home_preview img {
	width: 500px;
	height: 500px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
	transition: all 1s ease;
}

@media screen and (max-height: 760px) {
	img {
		height: 520px;
	}

	#home-main {
		height: 500px;
	}
}

@media screen and (max-width: 1070px) {
	h1 {
		font-size: 85px;
	}

	ul {
		font-size: 15px;
	}
}

@media screen and (max-width: 940px) {
	h1 {
		font-size: 70px;
	}
}

@media screen and (max-width: 850px) {
	h1 {
		font-size: 60px;
	}
}

@media screen and (max-width: 800px) {
	#instruction {
		font-size: 10px;
	}
	.pointer,
	.plabel {
		transform: rotate(45deg);
		font-size: 18px;
	}

	#home_preview {
		height: 400px;
		width: 400px;
	}
}

@media screen and (max-width: 500px) {
	header {
		display: initial;
		text-align: center;
	}
	h1 {
		text-align: center;
	}
	#instruction {
		display: none;
	}
	#imgslide {
		display: flex;
		align-items: center;
		flex-direction: column;
		overflow-x: auto;
		/* border: 1px solid red; */
	}
	main {
		overflow-y: auto;
		position: initial;
	}
	img {
		width: 400px;
		padding: 0px 0px 0px 0px;
		transition: all 0.5s ease;
	}
	::-webkit-scrollbar {
		display: initial;
	}
	#mosaic {
		display: none;
	}
}
