body {
	width: 100%;
	margin: auto;
	background-color: #d9d3cc;
}

main {
	display: flex;
	margin: 15px;
}
nav {
	flex: 1;
}
section {
	flex: 2;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 25px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 50px;
}

h2 {
	font-family: "Montserrat", sans-serif;
	margin-top: 10px;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	border-bottom: 0.25px solid black;
}

p {
	font-family: "Esteban", serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	max-width: 450px;
	margin-right: 20px;
	padding-right: 50px;
}
article > p:first-child {
	border-right: 0.5px solid black;
}
article {
	display: flex;
	padding-bottom: 15px;
}

ol {
	list-style-type: none;
	padding-left: 0px;
}

li {
	font-family: "Source Code Pro", monospace;
	font-weight: 400;
	font-size: 12px;
}
li:not(:first-child) {
	padding-top: 10px;
}
a {
	text-decoration: none;
}

a:hover {
	color: #f241c3;
}

img {
	height: 1em;
	animation: animation1 1s linear infinite;
	vertical-align: middle;
	margin-left: 20px;
}

.separator {
	margin: 5px 0px 5px 0px;
}

@keyframes animation1 {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(180deg);
	}
}

footer {
	display: flex;
	margin-top: 5vh;
	font-family: "Source Code Pro", monospace;
	font-size: 12px;
	text-align: center;
}

footer a {
	width: 33%;
}

/* main {
	border-top: 0.5px solid black;
} */
