body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: auto;
    background-color: #d9d3cc;
}

a {
    text-decoration: none;
}

a:hover {
    color: #F2ECEB;
}

header {
    display: flex;
}

header img {
    margin-left: 20px;
    margin-right: 20px;
    animation: animation1 1s linear infinite;
}

@keyframes animation1 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.head_glyph:hover {
    transform: rotateY(180deg);
    transition: all 1s;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    padding-top: 0px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
}

h3 {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Source Code Pro', monospace;
    margin-top: 10px;
    font-size: 15px;
}

ol, ul {
    list-style-type:none;
    text-align: center;
    padding-left: 0px;

}

li {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 12px;
}

#banner {
    width: 80%;
    height: 250px;
    max-width: 1100px;
    display: flex;
    overflow: hidden;
    margin: auto;
}

#banner div {
    flex: 1;
    background-position: center;
    position: relative;
    transition: all 1s;
}

#banner div:hover {
    flex: 20;
    filter: unset;
    opacity: 100%;
    cursor: crosshair;
}

nav {
    display: flex;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

nav section {
    width: 33%;
    margin: auto;
    max-width: 1100px;
    border-radius: 50%;
    border: 2px solid black;
    transform: rotateY(-20deg);
    padding: 20px;
}

nav section:hover {
    transform: rotateY(10deg);
    transition: all 1s;
}

footer {
    display: flex;
    margin-top: 5vh;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    text-align: center;
}

footer a {
    width: 33%;
}

/* ----- Pictures for Banner ----- */

#pic1 {
    background-image: url(images/greenhouse/greenhouse_3.jpg);
}

#pic2 {
    background-image: url(images/pikito.jpg);
}

#pic3 {
    background-image: url(images/warehouse/warehouse_1.jpg);
}

#pic4 {
    background-image: url(images/mendocino/mendo_2.jpg);
}

#pic5 {
    background-image: url(images/greenhouse/greenhouse_5.jpg);
}

#pic6 {
    background-image: url(images/warehouse/warehouse_3.jpg);
}

#pic7 {
    background-image: url(images/mendocino/mendo_5.jpg);
}

#pic8 {
    background-image: url(images/greenhouse/greenhouse_2.jpg);
}
