body {
	background-color: #d9d7cc;
	color: black;
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
}

#formCont {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 200px;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid red; */
}

input[type='text'],
input[type='number'] {
	background: none;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	color: black;
	font-family: 'Inconsolata', monospace;
	font-weight: 300;
}

.myform {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

input[type='submit'] {
	background: none;
	color: black;
	outline: none;
	border: 1px solid black;
	margin-top: 15px;
	font-family: 'Inconsolata', monospace;
	transition: 0.3s all ease;
}

input[type='submit']:hover {
	cursor: pointer;
	background-color: white;
}

input[type='button']:hover {
	cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

#randomlink {
	margin-top: 30px;
}
a {
	text-decoration: none;
	font-size: 12px;
	padding: 5px;
}

a:hover {
	color: red;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

#step1 {
	display: none;
}

#step2 {
	display: none;
}

#step3 {
	display: none;
}

#results {
	display: none;
}

#overlay {
	position: fixed;
	display: none;
	width: 90%;
	height: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

main {
	transition: 0.25s all ease;
}

/* .lds-ripple {
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
} */
#instruction {
	text-align: center;
}
